<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='Ring 0.1.0' Id='9D33885D-6992-4A9B-82B5-7AC3834CF61E' UpgradeCode='E7C93227-949A-4F55-9058-509AA1126A3E'
    Language='1033' Codepage='1252' Version='0.1.0' Manufacturer='Savoir-Faire Linux'>

    <Package Id='*' Keywords='Installer' Description="Ring 0.1.0 Installer"
      Manufacturer='Savoir-Faire Linux'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
      <Media Id='1' Cabinet='Ring.cab' EmbedCab='yes' DiskPrompt='USB' />
      <Property Id='DiskPrompt' Value="Ring 0.1.0 Installer" />
      <Directory Id='TARGETDIR' Name='SourceDir'>
          <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='SavoirFaireLinux' Name='Savoir-Faire Linux'>
                <Directory Id='INSTALLDIR' Name='Ring'>
                    <Component Id='MainExecutable' Guid='8E881921-46BD-45F4-98CC-05DD4FAD6EE8'>
                        <File Id='RingEXE' Name='RingClientWindows.exe' DiskId='1' Source='RingClientWindows.exe' KeyPath='yes'>
                            <Shortcut Id="startmenuRing" Directory="ProgramMenuDir" Name="Ring"
                                WorkingDirectory='INSTALLDIR' Icon="RingClientWindows.exe" IconIndex="0" Advertise="yes" />
                                <Shortcut Id="desktopRing" Directory="DesktopFolder" Name="Ring"
                                    WorkingDirectory='INSTALLDIR' Icon="RingClientWindows.exe" IconIndex="0" Advertise="yes" />
                                </File>
                            </Component>
                            <Component Id='HelperLibrary' Guid='26E2A43E-5B07-45E8-B486-BA0F7FA140DE'>
                                <File Id='LibringDLL' Name='libring.dll' DiskId='1' Source='libring.dll' KeyPath='yes' />
                                <File Id='LibringclientDLL' Name='libringclient.dll' DiskId='1' Source='libringclient.dll'/>
                            </Component>
                            <Component Id='QtLibrary' Guid='7900394F-C49C-4B14-A104-89D701200716'>
                                <File Id='Qt5CoreDLL' Name='Qt5Core.dll' DiskId='1' Source='Qt5Core.dll' KeyPath='yes' />
                                <File Id='Qt5GuiDLL' Name='Qt5Gui.dll' DiskId='1' Source='Qt5Gui.dll'/>
                                <File Id='Qt5SvgDLL' Name='Qt5Svg.dll' DiskId='1' Source='Qt5Svg.dll'/>
                                <File Id='Qt5WidgetsDLL' Name='Qt5Widgets.dll' DiskId='1' Source='Qt5Widgets.dll'/>
                            </Component>
                            <Component Id='StdLibrary' Guid='C5C77CD7-9068-4510-8010-9B15D3CDBF2E'>
                                <File Id='libstdcDLL' Name='libstdc++-6.dll' DiskId='1' Source='libstdc++-6.dll' KeyPath='yes' />
                                <File Id='libwinpthreadDLL' Name='libwinpthread-1.dll' DiskId='1' Source='libwinpthread-1.dll'/>
                                <File Id='libgcc_s_sjljDLL' Name='libgcc_s_sjlj-1.dll' DiskId='1' Source='libgcc_s_sjlj-1.dll'/>
                            </Component>
                            <Component Id='QtDeps' Guid='8F4C342F-82F0-411F-A21A-C07BED6CC22D'>
                                <File Id='libpcreDLL' Name='libpcre16-0.dll' DiskId='1' Source='libpcre16-0.dll' KeyPath='yes' />
                                <File Id='zlib1DLL' Name='zlib1.dll' DiskId='1' Source='zlib1.dll'/>
                                <File Id='libharfbuzzDLL' Name='libharfbuzz-0.dll' DiskId='1' Source='libharfbuzz-0.dll'/>
                                <File Id='libpngDLL' Name='libpng16-16.dll' DiskId='1' Source='libpng16-16.dll'/>
                                <File Id='libfreetypeDLL' Name='libfreetype-6.dll' DiskId='1' Source='libfreetype-6.dll'/>
                                <File Id='iconvDLL' Name='iconv.dll' DiskId='1' Source='iconv.dll'/>
                                <File Id='libglibDLL' Name='libglib-2.0-0.dll' DiskId='1' Source='libglib-2.0-0.dll'/>
                                <File Id='libintlDLL' Name='libintl-8.dll' DiskId='1' Source='libintl-8.dll'/>
                                <File Id='libpcre1DLL' Name='libpcre-1.dll' DiskId='1' Source='libpcre-1.dll'/>
                            </Component>
                            <Directory Id="platforms" Name="platforms">
                                <Component Id='QtPlatformsLibrary' Guid='3E79F0C2-94AC-42F2-8074-A1E51442EF4B'>
                                    <File Id='qwindowsDLL' Name='qwindows.dll' DiskId='1' Source='platforms/qwindows.dll' KeyPath='yes' />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="ProgramMenuFolder" Name="Programs">
                    <Directory Id="ProgramMenuDir" Name="Ring">
                      <Component Id="ProgramMenuDir" Guid="D7B856C7-838E-4F23-8D5C-6144BB798123">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <Feature Id='Complete' Title='Ring' Description='The Ring package.'
          Display='expand' ConfigurableDirectory='INSTALLDIR'>
          <Feature Id='MainProgram' Title='Program' Description='The ring executable.'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='HelperLibrary' />
            <ComponentRef Id='QtLibrary' />
            <ComponentRef Id='StdLibrary' />
            <ComponentRef Id='QtDeps' />
            <ComponentRef Id='QtPlatformsLibrary' />
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Icon Id="RingClientWindows.exe" SourceFile="RingClientWindows.exe" />

</Product>
</Wix>
