QPushButton#acceptButton{
    background-color: #4caf50;
    border-radius: 28px;
    border:solid 1px;
}

QPushButton#refuseButton, QPushButton#cancelButton{
    background-color: #f44336;
    border-radius: 28px;
    border:solid 1px;
}

QPushButton#btnCall:hover, QPushButton#acceptButton:hover{
    background-color: #5db761;
}

QPushButton#btnCall:pressed, QPushButton#acceptButton:pressed{
    background-color: #449d48;
}

QPushButton#refuseButton:hover, QPushButton#cancelButton:hover{
    background-color: #f5554a;
}

QPushButton#refuseButton:pressed, QPushButton#cancelButton:pressed{
    background-color: #db3c30;
}

QWidget#callInvitePage, QWidget#outboundCallPage{
    background-color : rgb( 77, 77, 77 );
}

IdLabel{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 192, 212);
}

RingContactLineEdit{
    border-color: rgb(242, 242, 242);
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(242, 242, 242);
}

QScrollBar:vertical{
    background:white; width:0px;
}

QScrollBar::handle:vertical{
    background: rgb( 255, 255, 255 );
}

SmartList{
    background-color: white;
    border: none;
}

SmartList::item:selected{
    background-color: qlineargradient(x1:1 y1:0, stop:1 rgba(220, 220, 220, 255), stop:0.65 rgba(242, 242, 242, 255), stop:0 rgba(242, 242, 242, 0));
    border: none;
}

SmartList::item:hover{
    background-color: rgba(242, 242, 242, 255);
}

QListView#listMessageView::item:hover{
    background-color: rgba(229, 229, 229, 255);
    border-radius: 18px;
}

QListView#listMessageView{
    background: rgb(242, 242, 242);
    border-top: 1px solid rgb(229, 229, 229);
}

QLineEdit#messageEdit{
    border-color: rgb(0, 192, 212);
    border-radius: 5px;
    border-width: 1px;
    border-style: outset;
    background-color: rgb(255, 255, 255);
}

QPushButton#holdButton, QPushButton#chatButton, QPushButton#noMicButton, QPushButton#noVideoButton,
QPushButton#transferButton, QPushButton#addPersonButton, QPushButton#joinButton,
QPushButton#qualityButton, QPushButton#recButton{
    background-color: rgba(0, 0, 0, 140);
    border-radius: 18px;
    border:solid 1px;
}

QPushButton#holdButton:hover, QPushButton#chatButton:hover, QPushButton#noMicButton:hover, QPushButton#noVideoButton:hover,
QPushButton#transferButton:hover, QPushButton#addPersonButton:hover, QPushButton#joinButton:hover, QPushButton#qualityButton:hover,
QPushButton#addToContactButton:hover, QPushButton#recButton:hover{
    background-color: rgba(0, 192, 213, 0.6);
}

QPushButton#holdButton:pressed, QPushButton#chatButton:pressed, QPushButton#noMicButton:pressed, QPushButton#noVideoButton:pressed,
QPushButton#transferButton:pressed, QPushButton#addPersonButton:pressed, QPushButton#joinButton:pressed, QPushButton#qualityButton:pressed,
QPushButton#addToContactButton:pressed, QPushButton#recButton:pressed{
    background-color: rgba(0, 192, 213, 0.8);
}

QPushButton#holdButton:checked, QPushButton#noMicButton:checked,
QPushButton#noVideoButton:checked, QPushButton#recButton:checked,
QPushButton#chatButton:checked{
    background-color: rgba(0, 192, 213, 0.8);
}

QPushButton#hangupButton{
    background-color: rgba(200, 0, 0, 0.6);
    border-radius: 18px;
    border:solid 1px;
}

QPushButton#hangupButton:hover{
    background-color: rgba(255, 0, 0, 0.6);
}

QPushButton#hangupButton:pressed{
    background-color: rgba(255, 0, 0, 0.8);
}


QPushButton#addToContactButton, QPushButton#imBackButton, QPushButton#copyCMButton, QPushButton#shareButton{
    background-color: #414141;
    border-radius: 15px;
    border:solid 1px;
}

QPushButton#imBackButton:hover, QPushButton#copyCMButton:hover, QPushButton#shareButton:hover{
    background-color: #515151;
}

QPushButton#imBackButton:pressed, QPushButton#copyCMButton:pressed, QPushButton#shareButton:pressed{
    background-color: #313131;
}

QPushButton#sendButton, QPushButton#sendFileButton{
    background-color: #3AC0D2;
    border-radius: 18px;
    border:solid 1px;
}

QPushButton#btnvideo{
    background-color: #3AC0D2;
    border-radius: 15px;
    border:solid 1px;
}

QPushButton#btnCall, QPushButton#btnComBarVideo, QPushButton#sendButton{
   background-color: #3AC0D2;
   border-radius: 15px;
   border:solid 1px;
}

QPushButton#btnCall:hover, QPushButton#sendButton:hover, QPushButton#btnComBarVideo:hover, QPushButton#sendFileButton:hover{
   background-color: #4dc6d6;
}

QPushButton#sendButton:pressed, QPushButton#btnCall:pressed, QPushButton#sendButton:pressed, QPushButton#btnComBarVideo:pressed, QPushButton#sendFileButton:pressed{
   background-color: #34acbd;
}

QScrollBar:vertical{
    background: rgb(242, 242, 242);
    width:10px;
}

QScrollBar::handle:vertical{
    background: rgb(77, 77, 77);
}

QWidget#welcomePage, QWidget#messagingPage{
    background: rgb(242, 242, 242);
}

QPushButton#wizardButton{
    background-color: #3AC0D2;
    border: 0px;
    color: white;
    font: 14px;
}

QPushButton#wizardButton:hover{
    background-color: #4dc6d6;
}

QPushButton#wizardButton:pressed{
    background-color: #34acbd;
}

QLineEdit#usernameEdit:enabled{
    border-color: rgb(0, 192, 212);
    border-radius: 5px;
    border-width: 1px;
    border-style: outset;
    background-color: rgb(255, 255, 255);
}

QLineEdit#usernameEdit:disabled{
    border-color: rgb(159, 157, 154);
    border-radius: 5px;
    border-width: 1px;
    border-style: outset;
    background-color: rgb(239, 235, 231);
}
