QPushButton#btnCall{
    border-image: url(:/images/call/btn-call.svg);
}

QPushButton#acceptButton{
    border-image: url(:/images/call/btn-answer.svg);
}

QPushButton#refuseButton{
    border-image: url(:/images/call/btn-ignore.svg);
}

QPushButton#cancelButton{
    border-image: url(:/images/call/btn-ignore.svg);
}

QWidget#callInvitePage{
    background-color : rgb( 77, 77, 77 );
}

QPushButton#btnvideo{
    border-image: url(:/images/hover-contact/btn-video.svg);
}

QPushButton#btnchat{
    border-image: url(:/images/hover-contact/btn-chat.svg);
}

QPushButton#btncontactinfo{
    border-image: url(:/images/hover-contact/btn-contactinfo.svg);
}

IdLabel{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 192, 212);
}

RingContactLineEdit {
    border-color: rgb(242, 242, 242);
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(242, 242, 242);
}

QScrollBar:vertical {
    background:white; width:0px;
}

QScrollBar::handle:vertical {
    background: rgb( 255, 255, 255 )
}

SmartList{
    background-color : white; border : none;
}
