QPushButton#btnCall{
    border-image: url(:/images/call/btn-call.svg);
}

QPushButton#acceptButton{
    border-image: url(:/images/call/btn-answer.svg);
}

QPushButton#refuseButton{
    border-image: url(:/images/call/btn-ignore.svg);
}

QPushButton#cancelButton{
    border-image: url(:/images/call/btn-ignore.svg);
}

QWidget#callInvitePage{
    background-color : rgb(77, 77, 77);
}

QWidget#outboundCallPage{
    background-color : rgb(77, 77, 77);
}

QPushButton#btnvideo{
    border-image: url(:/images/hover-contact/btn-video.svg);
}

QPushButton#btnchat{
    border-image: url(:/images/hover-contact/btn-chat.svg);
}

QPushButton#btncontactinfo{
    border-image: url(:/images/hover-contact/btn-contactinfo.svg);
}

IdLabel#ringIdLabel{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 192, 212);
}

QLineEdit#ringContactLineEdit{
    border-color: rgb(242, 242, 242);
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(242, 242, 242);
}

QScrollBar:vertical{
    background: rgb(242, 242, 242);
    width:10px;
}

QScrollBar::handle:vertical{
    background: rgb(77, 77, 77);
}

SmartList{
    background-color : white; border : none;
}

QPushButton#holdButton {
    border-image: url(:/images/video-conf/btn-pause.svg);
}

QPushButton#holdButton:checked{
    border-image: url(:/images/video-conf/btn-pause-toggled.svg);
}

QPushButton#hangupButton{
    border-image: url(:/images/video-conf/btn-hangup.svg);
}

QPushButton#chatButton{
    border-image: url(:/images/video-conf/btn-chat.svg);
}

QPushButton#noMicButton {
    border-image: url(:/images/video-conf/btn-nomic.svg);
}

QPushButton#noMicButton:checked {
    border-image: url(:/images/video-conf/btn-nomic-toggled.svg);
}

QPushButton#noVideoButton{
    border-image: url(:/images/video-conf/btn-novideo.svg);
}

QPushButton#noVideoButton:checked{
    border-image: url(:/images/video-conf/btn-novideo-toggled.svg);
}

QPushButton#transferButton{
    border-image: url(:/images/video-conf/btn-transfer.svg);
}

QPushButton#addPersonButton{
    border-image: url(:/images/video-conf/btn-add-contact-to-conf.svg);
}

QPushButton#joinButton{
    border-image: url(:/images/video-conf/btn-join.svg);
}

QSplitter::handle:horizontal{
    background-color : rgb(255, 255, 255);
}
