<?xml version="1.0" encoding="UTF-8"?>
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="$(var.Name)" Language="1033" Version="$(fun.AutoVersion(1.0))" Manufacturer="$(var.Manufacturer)" UpgradeCode="7c45b52b-0390-4fe8-947a-3f13e82dd346">
        <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

        <Icon Id="icon.ico" SourceFile="icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <Feature Id="ProductFeature" Title="Main" Level="1" Absent="disallow">
            <ComponentGroupRef Id="ProductComponents" Primary="yes" />
            <ComponentRef Id="ApplicationShortcutDesktop" />
            <ComponentRef Id="ApplicationShortcutStartMenu" />
        </Feature>
        <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedist" />
        </Feature>

        <UIRef Id="CustomUI" />
        <WixVariable Id="WixUIInfoIcon" Value="icon.ico"/>
        <WixVariable Id="WixUIBannerBmp" Value="top-banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="main-banner.bmp" />
        <WixVariable Id="WixUISupportPerUser" Value="0" />
    </Product>

    <Fragment Id="DirectoryStructure">
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
                  <Directory Id="APPLICATIONFOLDER" Name="$(var.Name)" />
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment Id="Shortcuts">
        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="*" Win64="yes">
                <Shortcut Id="ApplicationShortcutDesktop" Name="$(var.Name)" Description="Launch $(var.Name)"
                    Target="[#fileMain.exe]" WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software/$(var.Name)" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
                <Condition>ADDDESKTOPSHORTCUT=1</Condition>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcutStartMenu" Guid="*" Win64="yes">
                <Shortcut Id="ApplicationShortcutStartMenu" Name="$(var.Name)" Description="Launch $(var.Name)"
                    Target="[#fileMain.exe]" WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="StartMenuFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software/$(var.Name)" Name="startmenu" Type="integer" Value="1" KeyPath="yes" />
                <Condition>ADDDESKTOPSHORTCUT=1</Condition>
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment Id="UI">
        <UI Id="CustomUI">
          <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
          <Property Id="ApplicationFolderName" Value="$(var.Name)" />
          <UIRef Id="WixUI_Advanced" />
          <!--Remove User Exit Dialog-->
          <Publish Dialog="AdvancedWelcomeEulaDlg" Control="Cancel" Property="AbortInstall" Value="1">1</Publish>
          <Publish Dialog="InstallDirDlg" Control="Cancel" Property="AbortInstall" Value="1">1</Publish>
          <Publish Dialog="FeaturesDlg" Control="Cancel" Property="AbortInstall" Value="1">1</Publish>
          <Publish Dialog="MaintenanceWelcomeDlg" Control="Cancel" Property="AbortInstall" Value="1">1</Publish>
          <Publish Dialog="MaintenanceTypeDlg" Control="Cancel" Property="AbortInstall" Value="1">1</Publish>
          <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
          <InstallUISequence>
            <Show Dialog="UserExit" OnExit="cancel">NOT AbortInstall = 1</Show>
          </InstallUISequence>
        </UI>
        <!--Lisence check box text, Lanch check box text (auto check)-->
        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Launch $(var.Name)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Name)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <Property Id="LicenseAccepted" Value="1"/>
        <Property Id="WixShellExecTarget" Value="[#fileMain.exe]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
        <WixVariable Id="WixUILicenseRtf" Value="$(var.ReleaseDir)\License.rtf"/>
    </Fragment>

    <Fragment Id="VCRedist">
        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist" SourceFile="$(env.VCRedistMergeModule)" DiskId="1" Language="0" />
        </DirectoryRef>
    </Fragment>
</Wix>
