<?xml version="1.0" encoding="UTF-8"?>
<?include Project.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- If Jami.exe had version info, Version could be replaced with !(bind.FileVersion.filAC9E062B878B7C44FAC551CE42CE5AD7) -->
    <Product Id="*" Name="$(var.Name)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="7c45b52b-0390-4fe8-947a-3f13e82dd346">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" CompressionLevel="mszip" />

        <Feature Id="ProductFeature" Title="Jami" Level="1" Absent="disallow">
            <ComponentGroupRef Id="ProductComponents" Primary="yes" />
            <ComponentRef Id="ApplicationShortcutDesktop" />
            <ComponentRef Id="ApplicationShortcutStartMenu" />
        </Feature>
    </Product>

    <Fragment Id="DirectoryStructure">
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
                    <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment Id="Shortcuts">
        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="*">
                <Shortcut Id="ApplicationShortcutDesktop" Name="$(var.Name)" Description="Launch $(var.Name)"
                    Target="[INSTALLFOLDER]$(var.ring-client-windows.TargetFileName)" WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software/$(var.Name)" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcutStartMenu" Guid="*">
                <Shortcut Id="ApplicationShortcutStartMenu" Name="$(var.Name)" Description="Launch $(var.Name)"
                    Target="[INSTALLFOLDER]$(var.ring-client-windows.TargetFileName)" WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="StartMenuFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software/$(var.Name)" Name="startmenu" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
